<div class="container">
        <div class="row mainindex">
            <div class="col-sm-6">

                <form action="/radio/addAction" method="POST" encType="multipart/form-data">              
                   <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Radio Name</span>
                    <input type="text" class="form-control" name="radioname" >
                  </div>
                                   
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Radio Website</span>
                    <input type="text" class="form-control" name="radiowebsite">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Radio Stream URL</span>
                    <input type="text" class="form-control" name="radiostream" >
                  </div>


                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Radio Email</span>
                    <input type="text" class="form-control" name="radioemail" >
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Radio Location</span>
                    <input type="text" class="form-control" name="radiolocation" >
                  </div>

                   <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Phone</span>
                    <input type="text" class="form-control" name="radiophone">
                  </div>
                  
                  <div class="mb-3">
                     <label for="image" class="form-label">Image</label>
                    <input type="file"  class="form-control" name="logo"  iaria-describedby="image">
                  </div>

          
                   <button type="submit" class="btn btn-primary" >Submit</button>

                  
                  </form>
                  
                


            </div>

        </div>

    </div>
